@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  position: relative;
  font-family: 'Pixelify Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
